.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px);
}

.popup-header {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-items {
  display: flex;
  align-items: center;
}
.header-items .img {
  background: var(--gradient); /* Giữ lại màu gradient ở đây */
  padding: 6px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 36px;
  height: 36px;
}
.img img {
  filter: brightness(0) invert(1);
  display: block;
}
/* -------------------------------------------popUp ------------------------------------------- */
.full-width {
  position: relative;
  grid-column: 1 / -1;
}
#popup-form {
  user-select: none;
  padding: 0 30px;
  height: 60vh;
  overflow-y: auto;
}
#popup-form .required::after {
  content: " •";
  color: rgb(140, 0, 255);
  vertical-align: 5px;
  font-size: 20px;
}
.close-btn {
  background: transparent;
  border: none;
  font-size: 26px;
  cursor: pointer;
  color: #333;
}
.popup-box {
  width: 550px;
  max-width: 90%;
  max-height: 80vh;
  background: #f8fafc;
  border-radius: 25px;
  padding: 30px 0;
  /* animation: fadeIn 0.2s ease; */
  display: block;
  overflow: hidden;
}

.popup-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 10px;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-group label {
  font-size: 14px;
  font-weight: 600;
  color: #4a4a4a;
  margin-left: 4px;
}

#popup-form .form-group input {
  width: 100%;
  padding: 20px 16px;
  font-size: 15px;
  border: 2px solid #e2e8f0;
  border-radius: 25px;
  background-color: #f8fafc;
  color: #333;
  box-shadow: none;
  transition: border-color 0.2s ease;
  outline: none;
  box-sizing: border-box;
  caret-color: #7b2cbf !important;
}

/* Hiệu ứng focus cơ bản: Chỉ đổi màu viền */
#popup-form .form-group input:focus {
  border-color: #7b2cbf;
  background-color: #fff;
}

/* Placeholder cơ bản */
#popup-form .form-group input::placeholder {
  color: #bfbfbf;
}

#popup-form input:-webkit-autofill,
#popup-form input:-webkit-autofill:hover,
#popup-form input:-webkit-autofill:focus {
  -webkit-text-fill-color: #333;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  transition: background-color 5000s ease-in-out 0s;
}

.popup-footer {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 24px;
  padding: 16px;
  padding-bottom: 0;
  box-sizing: border-box;
  box-shadow: 0 -10px 20px rgb(255, 255, 255);
}

/* Nút Cancel (Dạng nút phụ) */
.popup-footer button[type="button"] {
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  background-color: white;
  color: #666;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
  user-select: none;
}

.popup-footer button[type="button"]:hover {
  background-color: #f5f5f5;
  border-color: #ccc;
}

.popup-footer button[type="submit"] {
  /* width: 120px; */
  padding: 10px 24px;
  border-radius: 8px;
  border: none;
  background: var(--bg-button);
  color: white;
  font-weight: 800;
  cursor: pointer;
  letter-spacing: 2px;
  transform: skew(-5deg) translateY(-5px);
  box-shadow: 0 4px 0 var(--accent);
  transition:
    transform 0.6s ease,
    box-shadow 0.6s ease,
    letter-spacing 0.6s ease,
    filter 0.6s ease;
}

.popup-footer button[type="submit"]:hover {
  transform: skew(-5deg) translateY(0px);
  letter-spacing: 0px;
  filter: brightness(0.9);
  box-shadow:
    0 0 0 var(--accent),
    inset 2px -2px 10px rgba(0, 0, 0, 0.2);
  transition:
    transform 0.3s ease,
    letter-spacing 0.3s ease,
    box-shadow 0.2s ease-in;
}

.membership-row {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  background-color: #f1f5f9;
  height: auto;
  padding: 20px 10px;
  box-sizing: border-box;
  border-radius: 15px;
  border: 1px solid #e2e8f0;
}

/* .membership-row select {
  flex: 1;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  background-color: #efefef;
  color: black;
  font-size: 14px;
  outline: none;
  transition: 0.2s;
} */

.membership-row select:focus {
  border-color: #7b2cbf;
  background: white;
}

.remove-btn {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: black;
  transition: 0.2s;
}

.remove-btn:hover {
  color: rgb(199, 20, 209);
}

.add-btn-org {
  text-align: left;
  margin-top: 6px;
  background: transparent;
  border: none;
  color: var(--accent);
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
}

.add-btn-org:hover {
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
  border: 2px solid #f1f5f9;
}

/* 4. Hiệu ứng khi di chuột vào (Hover) */
::-webkit-scrollbar-thumb:hover {
  /* Bạn có thể dùng gradient tím-xanh của bạn ở đây */
  background: linear-gradient(180deg, #8c01ba, #3945f7);
}

/* -------------------------------------------------select custom------------------------------------------------------------- */
.custom-select__control {
  width: 100% !important;
  border-radius: 20px !important;
  border: 2px solid #e2e8f0 !important;
  min-height: 42px !important;
  box-shadow: none !important;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden !important;
}

.react-select {
  flex: 1 !important;
  min-width: 0;
}
/* line */
.custom-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  cursor: pointer;
  overflow: hidden !important;
}

.custom-select__menu {
  background-color: white !important;
  border-radius: 12px !important;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1) !important;
  /* margin-top: 8px !important; */
  overflow: hidden !important;
  border: 1px solid #e5e7eb !important;
  z-index: 9999 !important;
}
.custom-select__menu-list {
  padding: 10px !important;
  max-height: 250px !important;
  overflow-x: hidden !important;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 10px;
  }
}
.select-label {
  flex: 1; /* Chiếm hết chỗ trống để biết đường mà cắt chữ */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}
.option-icon,
.add-icon-org {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 4px;
  align-items: center;
  background: var(--gradient);
}
.option-left-content {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden !important;
}
.custom-select__placeholder {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.custom-option.is-selected {
  background-color: #f2eeff;
  color: #6366f1;
  border-radius: 20px;
  font-weight: 600;
}
/* Trạng thái mặc định */
.custom-option {
  margin-bottom: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #fff;
  color: #333;
  transition: all 0.2s ease;
}
.option-icon img {
  width: 90%;
  height: 90%;
  object-fit: contain;
  filter: brightness(0) invert(1);
}

.custom-select__value-container {
  flex-wrap: nowrap !important;
  padding: 0 8px !important;
  display: flex !important;
  align-items: center !important;
}

.custom-option.is-focused {
  border-radius: 20px;
  background-color: #f2eeff;
  color: #6366f1;
}

/* Khi đã được chọn */
/* .custom-option.is-selected {
  background: var(--gradient);
  color: white;
} */
.custom-select__input-container {
  margin: 0 !important;
  padding: 0 !important;
  flex: 1;
}
.option-icon {
  display: flex;
  align-items: center;
}
.custom-single-value {
  display: flex !important;
  align-items: center !important;
  gap: 8px !important;
  height: 100% !important;
  overflow: hidden;
}
.custom-single-value span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  flex: 1;
}
/* .custom-select__single-value {
  gap: 8px !important;
  display: flex !important;
  align-items: center !important;
} */

.add-btn-org {
  width: auto;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-radius: 30px;
  border: 3px #e2e8f0 dashed;
}
.add-icon-org {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* -------------------------------------------------------------popUp hide item ----------------------------------*/
/* Container nằm ở góc dưới */
.evt-del-attach {
  position: fixed;
  bottom: 30px;
  z-index: 998;
  opacity: 1;
  pointer-events: none;
  transform: translateY(20px);
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid #dcd2ff;
}

/* Khung box nhỏ */
.evt-del-box {
  background: #ffffff;
  padding: 16px;
  box-shadow: 0 10px 15px -3px rgba(204, 0, 231, 0.1);
  display: flex;
  flex-direction: column;
  width: 260px;
  text-align: left;
}
.evt-del-attach.is-open {
  pointer-events: auto;
  animation: slideUp 0.3s ease-out forwards;
}

/* Class đóng: Chạy ngược lại */
.evt-del-attach.is-closing {
  pointer-events: none;
  animation: slideDown 0.3s ease-in forwards;
}
/* Nội dung chữ */
.evt-del-text strong {
  display: block;
  font-size: 14px;
  color: #111827;
  margin-left: 25px;
}
.evt-del-text img {
  position: fixed;
  box-shadow: -30px -30px 30px 5px rgba(112, 73, 253, 0.8);
}
.evt-del-text p {
  font-size: 12px;
  color: #6b7280;
}

.evt-del-btns {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

/* Nút Cancel đơn giản */
.evt-btn-cancel {
  background: none;
  border: none;
  color: #6b7280;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 5px;
  border: #bfbfbf8c 1px solid;
}

/* Nút Confirm lún 3D */
.evt-btn-confirm {
  background: #ffc1c1;
  color: rgb(236, 0, 0);
  border: none;
  padding: 6px 14px;
  font-size: 12px;
  font-weight: 800;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 3px 0 0 #f06f6f;
  transition: all 0.1s;
  transform: skew(-10deg);
}

.evt-btn-confirm:active {
  transform: translateY(3px) skew(-8deg);
  box-shadow: 0 0px 0 0 #991b1b;
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(20px);
    opacity: 0;
  }
}
.confirm-dialog .MuiDialog-paper {
  border-radius: 12px;
  min-width: 360px;
  padding: 8px;
}

.confirm-dialog .MuiDialogTitle-root {
  font-size: 18px;
  font-weight: 600;
}

.confirm-dialog .MuiDialogContent-root {
  font-size: 14px;
  color: #555;
}

.confirm-dialog .MuiDialogActions-root {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.confirm-dialog .MuiButton-colorError {
  background: #e53935;
  color: white;
}
/* -----------------------------------------------------color ----------------------------------------------------------- */
.role-color-label {
  font-size: 13px;
  color: #6b7280;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  margin-bottom: 15px;
}

.color-picker-simple-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding: 2px;
}

.color-dot-item {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.15s ease-in-out;
  position: relative;
  box-sizing: border-box;
}

.color-dot-item:hover {
  transform: scale(1.15);
}

.color-dot-item.active {
  transform: scale(1);

  box-shadow:
    0 0 0 1.5px #fff,
    0 0 0 4px var(--selected-color);
}
/* ------------------------------------------------------permission -------------------------------------------------------*/
.permission-matrix-container {
  background: #f3f4f6;
  border-radius: 12px;
  padding: 16px;
  max-height: 400px;
  overflow-y: auto;
}

.permission-group {
  margin-bottom: 12px;
}

.group-header {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #374151;
  cursor: pointer;
  padding: 8px;
  border-radius: 6px;
  background: #e5e7eb;
  margin-bottom: 4px;
}

.group-children {
  padding-left: 28px; /* Đẩy con vào trong tạo cấp bậc */
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.perm-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 3px 8px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  color: #4b5563;
  transition: all 0.2s;
}

.perm-item:hover {
  background: rgba(159, 99, 255, 0.1);
}

/* Custom Checkbox giống màu tím của bạn */
.custom-checkbox {
  width: 18px;
  height: 18px;
  border: 2px solid #d1d5db;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: white;
  background: white;
  transition: all 0.2s;
}

.custom-checkbox.checked {
  background: var(--gradient);
}

.custom-checkbox.indeterminate {
  background: var(--gradient);
  border-color: transparent;
}

.perm-item.checked span {
  color: #111827;
}
.form-permission {
  grid-column: span 2; /*  Nó sẽ kéo dài qua cả 2 cột */
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.group-header-wrapper {
  margin-bottom: 4px;
}

.group-header {
  background: #f8fafc; /* Màu nền nhẹ hơn cho header */
  border: 1px solid #e2e8f0;
  padding: 6px 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  justify-content: space-between;
}

.group-header.active {
  background: #f1f5f9;
  border-color: #cbd5e1;
}

.header-left {
  user-select: none;
  display: flex;
}
.toggle-icon {
  width: 25px;
  height: 100%;
  user-select: none;
  color: var(--accent);
}
