.dashboard {
  padding: 20px;
}
/*  CARD */
.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
  height: auto;
}

/*  CHART */
.dashboard-charts {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

/* box chung cho chart */
.chart-box {
  border-radius: 10px;
  padding: 20px;
  min-height: 300px;
  background-color: #ffffff;
  box-shadow: var(--shadow-dashboard);
}
/* CARD */
.stat-card {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--shadow-dashboard);
  transition: all 0.25s ease;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
}

.stat-card:hover {
  transform: translateY(-10px);
  box-shadow: -4px 4px 10px 0px rgba(112, 73, 253, 0.35);
}

/* header */
.stat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* title */
.stat-title {
  font-size: var(--fs-24);
  color: var(--accent);
  font-weight: var(--fw-500);
}

/* icon */
.stat-icon {
  font-size: var(--fs-22);
  background: rgba(255, 255, 255, 0.08);
  /* padding: px; */
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 30px -30px 30px 5px rgba(112, 73, 253, 0.2);
}

/* value */
.stat-value {
  font-size: var(--fs-40);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin: 25px 0;
  color: var(--accent);
  text-align: left;
}

/* -----------------------------------------------pie chart----------------------------------------------- */
.pie-chart-card {
  border-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.chart-box-inset {
  box-shadow: var(--shadow-dashboard-inset) inset;
  border-radius: 20px;
}
.chart-box-inset .pie-chart-card svg {
  filter: drop-shadow(0px 4px 8px rgba(48, 25, 130, 0.3))
    drop-shadow(0px 5px 7px rgba(112, 73, 253, 0.4));
}
/* ---------------------------------------------------responsive---------------------------------- */

/* 3 cột */
@media (max-width: 1224px) {
  .dashboard-cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .dashboard-charts {
    grid-template-columns: 1fr;
  }
}

/* 2 cột */
@media (max-width: 1024px) {
  .dashboard-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 1 cột */
@media (max-width: 600px) {
  .dashboard-cards {
    grid-template-columns: 1fr;
  }
}
